/* Page background */
body{
    background: linear-gradient(135deg,#ffd6ec,#ffc2e2,#ffb6d9);
    font-family: "Comic Sans MS", cursive;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Main container */
.container{
    background:white;
    padding:35px;
    border-radius:25px;
    width:320px;
    text-align:center;
    box-shadow:0 10px 25px rgba(255,105,180,0.4);
}

/* Title */
h1{
    color:#ff4fa3;
}

/* Description */
.desc{
    font-size:14px;
    margin-bottom:15px;
    color:#666;
}

/* Labels */
label{
    font-weight:bold;
    color:#ff4fa3;
}

/* Inputs */
input{
    width:90%;
    padding:10px;
    margin:8px;
    border-radius:12px;
    border:2px solid #ffd6ec;
}

/* Button */
button{
    background:#ff69b4;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:20px;
    margin-top:10px;
    font-size:15px;
    cursor:pointer;
}

/* Button hover */
button:hover{
    background:#ff3c9d;
}

/* Result text */
#result{
    color:#ff4fa3;
}

#category{
    color:#ff1493;
}